
<h1 class="home">Crypto Currency</h1>

<div class="container home">
 
  <% @coins %>

  <% for x in @coins %>
    <% for coin in @my_coins %>
      <% if coin == x["symbol"] %><br/>
        <%= x["name"] %>:<br/> 
        $<%=x["price_usd"] %><br>
        Rank: <%= x["rank"] %> <br/>
      <% end %>
    <% end %>
  <% end %>
 
</div>
 



  
    
    
  