<div class="container edit">

  <h1>Editing Crypto</h1>

  <%= render 'form', crypto: @crypto %>

</div>

<div class="btn edit">
  <%= link_to 'Show', @crypto, class: "btn btn-primary" %> 
  <%= link_to 'Back', cryptos_path, class: "btn btn-primary" %>
</div>