<div class="container crypto">

   <h1 class="crypto">My Cryptos</h1>
 
  <table class="table table-striped table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Current Price</th>